# Byte-compiled /cache / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.DS_Store

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# notebook
*.ipynb  # ignore globally
!examples/**/*.ipynb  # allows .ipynb in examples/ folder
!examples/*.ipynb     # allows .ipynb inside any subdirectories of examples/
!notebooks/*.ipynb
#!tests/**/*.ipynb  # allows .ipynb in tests/ folder
#!tests/*.ipynb     # allows .ipynb inside any subdirectories of tests/

# Logs
*.log

# Environments
.venv/
venv/
env/

# Testing & IDEs
.pytest_cache/
.coverage
htmlcov/
.idea/
.vscode/


# Large data folder you want to ignore
#tests/test_al2o3.py
